.loginPage {
  display: flex;
  flex-direction: column;
}

.loginPage button {
  display: block;
  margin: 0 20% 0 auto;
  border: 2px solid black;
  background-color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
}

.loginPage label {
  margin-top: 5px;
}

label > input {
  margin: 10px;
}

.loginPage button:hover {
  background-color: black;
  color: #fff;
}
